.logo {
  width: 120px;
}
.logo-2 {
  width: 200px;
}

.nav-style {
  background-color: rgb(255, 255, 255);
  direction: rtl;
  position: fixed;
  z-index: 10;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
}
.nav-style a {
  color: rgb(235 69 136);
}
.navbar-toggler {
  background-color: #e91e63b3;
}
.box-1 {
  display: none !important;
}
@media (max-width: 991px) {
  .navbar-nav {
    display: none;
  }
  .box-1 {
    display: block !important;
  }
  .navbar-collapse {
    position: fixed;
    z-index: 8;
    width: 280px;
    min-height: 100vh;
    text-align: right;
    top: 0px;
    left: -280px;
    transition: left 0.3s linear 0s;
  }
  .navbar-collapse.show {
    left: 0;
    transition: left 0.3s linear 0s;
  }
  .nav-bg {
    width: 100%;
    height: 100vh;
    position: fixed;
    background: #fc999975;
    z-index: 2;
    top: 0;
    left: 0;
    display: none;
  }
}

.box-1 {
  width: 100%;
  height: 100vh;
  background-color: #e91e63;
  color: #fff;
  border-end-start-radius: 30px;
  border-start-start-radius: 30px;
}
.box-2 {
  height: 85vh;
  border-end-start-radius: 30px;
  border-start-start-radius: 30px;
  background-color: #fff;

  border-start-start-radius: 30px;
  width: 100%;
  border-end-start-radius: 30px;
  position: relative;
}
.dropdown-menu {
  position: initial;
  float: none;
  background-color: rgb(249 249 249);
  border-radius: 0;
  border: 0 solid;

  box-shadow: inset 0px 50px 10px -50px rgba(0, 0, 0, 0.08),
    inset 0px -50px 10px -50px rgba(0, 0, 0, 0.08);
}
.card-txt {
  position: absolute;
  background-color: #e91e63;
  color: #fff;
  left: 20px;
  bottom: 20px;
  border-radius: 30px;
  border-start-start-radius: 0;
}

.img-bg1 {
  background-image: url(../img/bg-01-free-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.txt-style1 {
  width: 100%;
  height: 700px;
  line-height: 60px;
  text-align: center;
  color: #fff;
  font-weight: bold;
}
.txt-style2 {
  height: 500px;
  text-align: center;
  line-height: 60px;
  background-color: #fff;
  font-weight: bold;
}
.txt-style3 {
  height: 500px;
  text-align: center;
  background-color: #fff;
}
.img-bg2 {
  background-image: url(../img/bg-05-free-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.img-bg2-2 {
  background-color: #ea3d8454;
}
.txt-style4 {
  width: 100%;
  height: 100%;
  text-align: right;
  color: #fff;
  font-weight: bold;
}
@media (max-width : 767px) {
  .txt-style4{
    text-align: center;
  }
}
.txt-style4-4 {
  line-height: 30px;
  text-align: justify;
}
.txt-style5 {
  text-align: center;
  background-color: #fff;
  font-weight: bold;
}

.txt-style6 {
  text-align: right;
  background-color: #fff;
  border: #f1eeee 0.5px solid;

}
.txt-style6 button{
  border-radius: 29px;
  font-size: 20px;
  padding-top: 0px;
  font-weight: bold;
}

.cart-item1:nth-of-type(1) h4 {
  color: #ffaf00;
}
.cart-item1:nth-of-type(1) button {
  color: #fff;
  background-color: #ffaf00;
}
.cart-item1:nth-of-type(2) h4 {
  color: #ea3c84;
}
.cart-item1:nth-of-type(2) button {
  color: #fff;
  background-color: #ea3c84;
}
.cart-item1:nth-of-type(3) h4 {
  color: #19bdc5;
}
.cart-item1:nth-of-type(3) button {
  color: #fff;
  background-color: #19bdc5;
  
}



.cart-item2:nth-child(1) h4 {
  color: #19bdc5;
}
.cart-item2:nth-of-type(1) button {
  color: #fff;
  background-color: #19bdc5;
}
.cart-item2:nth-of-type(2) h4 {
  color: #ffaf00;
}
.cart-item2:nth-of-type(2) button {
  color: #fff;
  background-color: #ffaf00;
}
.cart-item2:nth-of-type(3) h4 {
  color: #00fd76;
}
.cart-item2:nth-of-type(3) button {
  color: #fff;
  background-color: #00fd76;

}

.btn-style1:hover {
  color: #fff;
  background-color: #ff599e;
}

.btn-style2:hover {
  color: #fff;
  background-color: #fdc346;
}

.btn-style3:hover {
  color: #fff;
  background-color: #2bff8e;
}
.btn-style4:hover {
  color: #fff;
  background-color: #20dce6;
}
.btn-style2{
  border-radius: 29px;
  font-size: 20px;
  padding-top: 0px;
  font-weight: bold;
  color: #fff;
  background-color: #ffaf00;
}

@media (min-width: 500px) and (max-width: 767px) {
  .img-width {
    width: 450px !important;
  }
}
@media (max-width: 800px) {
  .txt-style6 {
    text-align: center;

  }
  
}
.img-bg3 {
  background-image: url(../img/bg-02-free-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.img-bg3-3 {
  background-color: #19bdc585;
}
.txt-style7 {
  width: 100%;
  height: 700px;

  font-size: 30px;
  text-align: center;
  color: #fff;
  font-weight: bold;
}
.next-slider1 {
  position: absolute;
  top: 40%;
  right: 0px;
  z-index: 5;
}
.img-style1 {
  border-radius: 100px;
  padding: 10px;
  width: 130px;
  height: 130px;
}

.prev-slider1 {
  position: absolute;
  top: 40%;
  left: 0px;
  z-index: 5;
}

@media (min-width: 800px) {
  .galery {
    display: grid;
  }
}
.item1 {
  background-color: rgb(40, 240, 157);
  grid-column-start: 1;
  grid-column-end: 3;
  overflow: hidden;
}

.item1:hover img {
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
}
.item2 {
  background-color: rgb(240, 220, 40);
  color: #fff;
  text-align: center;
  overflow: hidden;
}
.item2:hover img {
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
}
.item3 {
  background-color: rgb(14, 200, 247);
  grid-row-start: 2;
  grid-row-end: 4;
  color: #fff;
  text-align: center;
  overflow: hidden;
}
.item3:hover img {
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
}
.item4 {
  background-color: rgb(207, 40, 240);
  grid-column-start: 2;
  grid-column-end: 4;
  color: #fff;
  text-align: center;
  overflow: hidden;
}
.item4:hover img {
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
}

.item5 {
  background-color: rgb(40, 240, 157);
  color: #fff;
  text-align: center;
  overflow: hidden;
}
.item5:hover img {
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
}

.item6 {
  background-color: rgb(243, 129, 22);
  color: #fff;
  text-align: center;
  overflow: hidden;
}
.item6:hover img {
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
}
.img-cover {
  object-fit: cover;
}
.img-bg4 {
  width: 100%;
  height: 100%;

  background-image: url(../img/bg-04-free-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.footer-style {
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}
.footer-style2 {
  background-color: #ffbb00b9;
}
.font-12 {
  font-size: 12px;
}
.font-20 {
  font-size: 20px;
}
.font-40 {
  font-size: 40px;
}

.txt-color1 {
  color: #ea3c84;
  font-size: 25px;
  font-weight: bold;
}
.txt-color2 {
  font-size: 25px;
  color: #ffae00;
  font-weight: bold;
}
.txt-color3 {
  font-size: 25px;
  color: #0bec74;
  font-weight: bold;
}
.txt-color4 {
  font-size: 25px;
  color: #18bcc5;
  font-weight: bold;
}
.hr-style {
  border-top: 2px solid rgb(255 255 255);
  width: 70px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.hr-style2 {
  border-top: 1px solid rgb(255 255 255);
}
.fa-heartbeat {
  color: #1404f3;
}